body {
    margin: 0;
    background-color: rgb(50, 50, 60);
    color: #f2f2f2;
    line-height: 1.5;

}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
* {
    box-sizing: border-box;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    color: rgb(0, 168, 154)

   }

a:link {
    color: rgb(0, 168, 154)
}
img {
    border-radius: 5%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


#icon {
    border-radius: 50%;
    
}


#mainimage:hover {
    scale: 1.05;
    transition: 100ms ease-in-out;
}

#mainimage {
    float: right;
    margin-right: 18%;
    transition: 100ms ease-in-out;

}

.iconImage {
    padding-left: 15%;
    
}

.maintext h2, h3 {
    padding: 1%;
    padding-left: 20%;
}

.maintext p {
    padding: 10px;
    font-size: 17px;
    padding-left: 20%;
    padding-right: 30%;
    
}
.topnav {
    background-color: rgb(50, 50, 55);
    overflow: hidden;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.leftnav {
    padding-right: 40%;
    padding-left: 1%;
}

.leftnav a {
    font-size: 19px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 100ms ease-in-out;

}

.topnav a:hover {
    scale: 1.05;
    transition: 100ms ease-in-out;
}

.project-seperator {
    color: rgb(65, 65, 70);

}